body {
    background-color: #92E3A9;
    background-color: #212529;
    background-color: #FCFD95;
    background-color: #FFF7D2;
    background-color: #E9C4A7;
    background-color: white;
    background-color: black;
}